
### MODEL PARAMETERS ###

model:          wri_MLP
num_classes:    13
vario_num_lag:  67
hidden_layers:  [5, 2]
activation:     LeakyReLU

### DATASET PARAMETERS ###

img_path:           Data/negri_dataset
npy_path:           Config\mlp_test_negri\mlp_test_negri_MS_80618_(201,268)_split.npy
train_path:         Output/mlp_test_negri_20-03-2025_15:23/labels/labeled_epoch_49.npy
valid_path:         None
class_enum:         ['Other', 'Slow Moving Ice', 'Shear', 'Parallel', 'Parallel Shear', 'Subordinate Shear', 'Multigenerational', 'Multidirectional', 'Chaos', 'Ponded Crevasse', 'Melt Stream', 'Melt Pond', 'Sea Ice']
utm_epsg_code:      32633
split_img_size:     [201, 268]
train_test_split:   0.8
train_indices:      None
training_img_path:  Classification
training_img_npy:   None
save_all_pred:      True
equal_dataset:      True
conversion_factor:  4
bands:              [4, 2, 1]
wri_green_band:     2
wri_red_band:       4
wri_nir_band:       6
wri_mir_band:       7

### TRAINING PARAMETERS ###

train_with_img: False
use_cuda:       True
num_epochs:     3
fine_epochs:    10
adaptive:       True
alpha:          0.15
beta:           0.85
learning_rate:  5e-5
batch_size:     2
optimizer:      Adam

### DATA AUGMENTATION PARAMETERS ###

directional_vario:  True
random_rotate:      False
random_shift:       False
random_contrast:    False
random_distort:     False

### VISUALIZATION PARAMETERS ###

contour_path:       Config/mlp_test_negri/negri_contour.npy
custom_color_map:   None
bg_img_path:        None
bg_UTM_path:        None
        