
### MODEL PARAMETERS ###

model:          VarioMLP
num_classes:    20
vario_num_lag:  14
hidden_layers:  [5, 2]
activation:     LeakyReLU

### DATASET PARAMETERS ###

img_path:           Data/Negri_WV
npy_path:           Config/mlp_test_negri/2016-2018.npy
train_path:         None
valid_path:         None
class_enum:         ['Other', 'Undisturbed Snow', 'Slow Moving Ice', 'Shear', 'Shear Holes', 'Crevassed Morain', 'Thin Parallel', 'Strong Parallel', 'Thin Parallel Shear', 'Strong Parallel Shear', 'En Echelon', 'Subordinate Shear', 'Multigenerational', 'Multidirectional', 'Narrow 2d', 'Subparallel', 'Chaos', 'Melt Stream', 'Melt Pond', 'Sea Ice']
utm_epsg_code:      32633
split_img_size:     [201, 268]
train_test_split:   0.8

### TRAINING PARAMETERS ###

use_cuda:       False
num_epochs:     50
learning_rate:  5e-5
batch_size:     1
optimizer:      Adam

### DATA AUGMENTATION PARAMETERS ###

directional_vario:  True
random_rotate:      True
random_shift:       True
random_contrast:    False
random_distort:     False

### VISUALIZATION PARAMETERS ###

contour_path:       Config/mlp_test_negri/negri_contour.npy
custom_color_map:   None
bg_img_path:        None
bg_UTM_path:        None
        