
### MODEL PARAMETERS ###

model:          Resnet18
num_classes:    5
vario_num_lag:  None
hidden_layers:  None
activation:     LeakyReLU

### DATASET PARAMETERS ###

img_path:           Data/WV_watermap
npy_path:           Config/WV_watermap/resnet_test_negri_split.npy
train_path:         None
valid_path:         None
class_enum:         ['Stream', 'Melt Pond', 'Water-filled Crevasse', 'Dry Crevasse', 'Undisturbed Snow/Ice']
utm_epsg_code:      32633
split_img_size:     [201, 268]
train_test_split:   0.6

### TRAINING PARAMETERS ###

use_cuda:       False
num_epochs:     10
learning_rate:  5e-5
batch_size:     1
optimizer:      Adam

### DATA AUGMENTATION PARAMETERS ###

directional_vario:  True
random_rotate:      True
random_shift:       True
random_contrast:    False
random_distort:     False

### VISUALIZATION PARAMETERS ###

contour_path:       Config/WV_watermap/negri_contour.npy
custom_color_map:   None
bg_img_path:        None
bg_UTM_path:        None
        