
    #numba: 
    numba
    #pandas: 
    pandas
    #cv2: 
    opencv-python
    #PIL: 
    pillow
    #netCDF4: 
    netCDF4
    #pyproj: 
    pyproj
    #yaml: 
    pyyaml
    #shapely: 
    shapely
    #utm: 
    utm
    #rasterio: 
    rasterio
    #PyQt5: 
    PyQt5
    #PyQt6: 
    PyQt6
    #torch: 
    torch
    #skimage: 
    scikit-image
    #torchvision: 
    torchvision
    #geopandas: 
    geopandas
    #matplotlib: 
    matplotlib
    #Affine: 
    affine
    #Scikit Learn: 
    scikit-learn