### MODEL PARAMETERS ###

model:          DDAiceNet
num_classes:    4
vario_num_lag:  14
hidden_layers:  [3,5,9,4,2]
activation:     LeakyReLU

### DATASET PARAMETERS ###

img_path:           /Users/adamhayes/workspace/train_test_data/4class_negri_jak_train
npy_path:           Config/4class_train/4class_train_still_testing.npy
train_path:         None
valid_path:         None
class_enum:         ['Undisturbed Snow', 'Surge Crevasse (early phase)', 'Surge Crevasse (late phase)', 'Ice Stream Crevasse']
utm_epsg_code:      32633
track_chunk_size:   5
train_test_split:   0.8

### TRAINING PARAMETERS ###

use_cuda:       False
num_epochs:     1000
learning_rate:  5e-6
batch_size:     16
optimizer:      Adam

### VARIO ALONG TRACK PARAMS ###

lag_dist:       5
window_size:    150
window_step:    50
num_dir:        1
nres:           30