### MODEL PARAMETERS ###

model:          DDAiceNet
num_classes:    3
vario_num_lag:  14
hidden_layers:  [3, 6, 9, 2]
activation:     ELU

### DATASET PARAMETERS ###

img_path:           /Users/adamhayes/workspace/train_test_data/negri-early-late-train
npy_path:           
train_path:         None
valid_path:         None
class_enum:         ['Undisturbed Snow', 'Surge Crevasse (early phase)', 'Surge Crevasse (late phase)']
utm_epsg_code:      32633
track_chunk_size:   5
train_test_split:   0.8

### TRAINING PARAMETERS ###

use_cuda:       False
num_epochs:     1000
learning_rate:  1e-4
batch_size:     4
optimizer:      Adam

### VARIO ALONG TRACK PARAMS ###

lag_dist:       5
window_size:    150
window_step:    50
num_dir:        1
nres:           30