
### MODEL PARAMETERS ###

model:          VarioMLP
num_classes:    5
vario_num_lag:  14
hidden_layers:  [5, 2]
activation:     LeakyReLU

### DATASET PARAMETERS ###

img_path:           Data/WV01_20110321212221/WV01_20110321212221_1020010011DD0F00_11MAR21212221-P1BS-052514087070_01_P001.tif
txt_path:           Data/WV01_20110321212221/WV01_20110321212221_1020010011DD0F00_11MAR21212221-P1BS-052514087070_01_P001_(201,268)_split.npy
train_path:         None
valid_path:         None
class_enum:         ['Undisturbed Snow', 'Other', '1 DIrection', '2 Direction', 'Chaos']
utm_epsg_code:      32607
split_img_size:     [201, 268]
train_test_split:   0.8

### TRAINING PARAMETERS ###

use_cuda:       False
num_epochs:     100
learning_rate:  5e-5
batch_size:     1
optimizer:      Adam

### DATA AUGMENTATION PARAMETERS ###

directional_vario:  True
random_rotate:      True
random_shift:       True
random_contrast:    False
random_distort:     False

### VISUALIZATION PARAMETERS ###

contour_path:     Config/mlp_test_bering/bering_contour.npy
bg_img_path:      None
bg_UTM_path:      None
        