
### MODEL PARAMETERS ###

model:          VarioMLP
num_classes:    20
vario_num_lag:  67
hidden_layers:  [5, 2]
activation:     LeakyReLU

### DATASET PARAMETERS ###

img_path:           /Volumes/rachel_hdd/greenland-enthalpy/data/sentinel-2/avannarleq/pan-imgs
npy_path:           Config/greenland_enthalpy/avannarleq/mlp_test_greenland_enthalpy_2071_(50,60)_split.npy
class_enum:         ['Other', 'Undisturbed Snow', 'Slow Moving Ice', 'Shear', 'Shear Holes', 'Crevassed Morain', 'Thin Parallel', 'Strong Parallel', 'Thin Parallel Shear', 'Strong Parallel Shear', 'En Echelon', 'Subordinate Shear', 'Multigenerational', 'Multidirectional', 'Crevasse Under Snow', 'Subparallel', 'Chaos', 'Melt Stream', 'Melt Pond', 'Sea Ice']
utm_epsg_code:      32622
split_img_size:     [201, 268]
train_test_split:   0.8
train_indices:      None
training_img_path:  Training_data/Greenland/Avannarleq
training_img_npy:   Config/greenland_enthalpy/avannarleq/mlp_test_greenland_20_375.npy
save_all_pred:      True
equal_dataset:      True

### TRAINING PARAMETERS ###

train_with_img: True
use_cuda:       True
num_epochs:     50
fine_epochs:    10
adaptive:       True
alpha:          0.15
beta:           0.85
learning_rate:  5e-5
batch_size:     2
optimizer:      Adam

### DATA AUGMENTATION PARAMETERS ###

directional_vario:  True
random_rotate:      False
random_shift:       False
random_contrast:    False
random_distort:     False

### VISUALIZATION PARAMETERS ###

contour_path:       Config/greenland_enthalpy/avannarleq/avannarleq_contour.npy
custom_color_map:   None
bg_img_path:        None
bg_UTM_path:        None