
### MODEL PARAMETERS ###

model:          Resnet18
num_classes:    4
vario_num_lag:  53
hidden_layers:  [5, 2]
activation:     LeakyReLU

### DATASET PARAMETERS ###

img_path:           /home/twickler/plots/pass0_Fig1_nrb_data_valid_mask.png
npy_path:           2490_(25,25)_split_calipso.npy
density_path:       None
train_path:         None
valid_path:         None
class_enum:         ['Background', 'Aerosol', 'Thin Cloud', 'Thick Cloud']
utm_epsg_code:      32633
split_img_size:     [10, 10]
num_channels:       6
train_test_split:   0.8
train_indices:      None
training_img_path:  Classification
training_img_npy:   None
save_all_pred:      True
equal_dataset:      True

### TRAINING PARAMETERS ###

train_with_img: False
use_cuda:       True
num_epochs:     50
fine_epochs:    10
alpha:          0.15
beta:           0.85
learning_rate:  5e-5
batch_size:     2
optimizer:      Adam

### DATA AUGMENTATION PARAMETERS ###

directional_vario:  True
random_rotate:      False
random_shift:       False
random_contrast:    False
random_distort:     False

### VISUALIZATION PARAMETERS ###

contour_path:       Config/mlp_test_negri/negri_contour.npy
custom_color_map:   None
bg_img_path:        None
bg_UTM_path:        None
        